.refCellCandidate {
    -fx-border-color: #05f505;
    -fx-border-width: 1px;
}

.selectedRefCell {
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.default-color0.chart-series-line {
    -fx-stroke: transparent;
}

.chart-line-symbol {
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
    -fx-effect: null;
}

.default-color0.chart-line-symbol {
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-background-color: red;
}

.default-color1.chart-series-line {
    -fx-stroke: black;
}

.default-color2.chart-line-symbol {
    -fx-background-color: purple;
}

.default-color3.chart-line-symbol {
    -fx-background-color: LightSkyBlue;
}

.default-color4.chart-line-symbol {
    -fx-background-color: chartreuse;
}

.default-color5.chart-line-symbol {
    -fx-background-color: darkorange;
}

.default-color6.chart-line-symbol {
    -fx-background-color: magenta;
}

.default-color7.chart-line-symbol {
    -fx-background-color: slategray;
}

.default-color7.chart-line-symbol {
    -fx-background-color: teal;
}

.default-color7.chart-line-symbol {
    -fx-background-color: yellow;
}
